<% include partials/header %>

<div class="container">
    <div class="jumbotron col-md-8 jumbologin">
        <h2 class="aboutHeader">Edward's Full Stack Demo</h2>
        <p>This is my example and demonstration of a full-stack web development project. The technical and functional skills utilized within and throughout this project include the following:</p>
        <ul>
            <li class="list-group-item skills"><i class="fa fa-code" aria-hidden="true"> </i>  Front End HTML, CSS, and JavaScript programming</li>
            <li class="list-group-item skills"><i class="fa fa-bold" aria-hidden="true"> </i> Bootstrap CSS styling</li>
            <li class="list-group-item skills"><i class="fa fa-terminal" aria-hidden="true"> </i>   Back End Node.js and Express</li>
            <li class="list-group-item skills"><i class="fa fa-database" aria-hidden="true"> </i>   MongoDB and Mongoose</li>
            <li class="list-group-item skills"><i class="fa fa-arrows" aria-hidden="true"> </i>   RESTful Routes (CRUD)</li>
            <li class="list-group-item skills"><i class="fa fa-user" aria-hidden="true"> </i>   User Registration, Authentication, and Authorization</li>
            <li class="list-group-item skills"><i class="fa fa-globe" aria-hidden="true"> </i>   Weather and Google Maps API calls</li>
        
        <hr>
        <a href="/campgrounds">Back to all Campgrounds</a>    
    </div>
</div>

<% include partials/footer %>