<% include ../partials/header %>



<div class="container newcamp">
    <div class="row">
        <h1 style="text-align: center;">Create A New Campground</h1>
        <div style="width: 40%; margin: 25px auto;">
            <form class="" action="/campgrounds" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Campground Name">
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <input class="form-control" type="text" name="city" placeholder="City Name">
                    </div>
                        <select class="form-control" name="state" size="1">
                          <option value="AL">Alabama</option>
                          <option value="AK">Alaska</option>
                          <option value="AZ">Arizona</option>
                          <option value="AR">Arkansas</option>
                          <option value="CA">California</option>
                          <option value="CO">Colorado</option>
                          <option value="CT">Connecticut</option>
                          <option value="DE">Delaware</option>
                          <option value="DC">Dist of Columbia</option>
                          <option value="FL">Florida</option>
                          <option value="GA">Georgia</option>
                          <option value="HI">Hawaii</option>
                          <option value="ID">Idaho</option>
                          <option value="IL">Illinois</option>
                          <option value="IN">Indiana</option>
                          <option value="IA">Iowa</option>
                          <option value="KS">Kansas</option>
                          <option value="KY">Kentucky</option>
                          <option value="LA">Louisiana</option>
                          <option value="ME">Maine</option>
                          <option value="MD">Maryland</option>
                          <option value="MA">Massachusetts</option>
                          <option value="MI">Michigan</option>
                          <option value="MN">Minnesota</option>
                          <option value="MS">Mississippi</option>
                          <option value="MO">Missouri</option>
                          <option value="MT">Montana</option>
                          <option value="NE">Nebraska</option>
                          <option value="NV">Nevada</option>
                          <option value="NH">New Hampshire</option>
                          <option value="NJ">New Jersey</option>
                          <option value="NM">New Mexico</option>
                          <option value="NY">New York</option>
                          <option value="NC">North Carolina</option>
                          <option value="ND">North Dakota</option>
                          <option value="OH">Ohio</option>
                          <option value="OK">Oklahoma</option>
                          <option value="OR">Oregon</option>
                          <option value="PA">Pennsylvania</option>
                          <option value="RI">Rhode Island</option>
                          <option value="SC">South Carolina</option>
                          <option value="SD">South Dakota</option>
                          <option value="TN">Tennessee</option>
                          <option value="TX">Texas</option>
                          <option value="UT">Utah</option>
                          <option value="VT">Vermont</option>
                          <option value="VA">Virginia</option>
                          <option value="WA">Washington</option>
                          <option value="WV">West Virginia</option>
                          <option value="WI">Wisconsin</option>
                          <option value="WY">Wyoming</option>
                        </select>
                        <p></p>
                    <div class="form-group">
                        <input class="form-control" type="number" inputmode="numeric" size="5" name="zip" placeholder="Zip Code">
                    </div>
                    <p></p>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-addon">$</div>
                    <input class="form-control" type="number" name="price" placeholder="price per night" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                <input class="form-control" type="text" name="image" placeholder="Image url">
                </div>
                <div class="form-group">
                <textarea class="form-control" type="text" name="description" placeholder="Description" rows="3"></textarea>
                </div>
                <h4>Amenities <span><h6 style="display: inline; font-style: italic"> (check all that apply)</h6></span></h4>
                <label class="checkbox-inline col-md-3">
                  <input type="checkbox" id="inlineCheckbox1" name="amenities" value="Bathrooms"> Bathrooms
                </label>
                <label class="checkbox-inline col-md-3">
                  <input type="checkbox" id="inlineCheckbox2" name="amenities" value="Showers"> Showers
                </label>
                <label class="checkbox-inline col-md-3">
                  <input type="checkbox" id="inlineCheckbox3" name="amenities" value="WiFi"> WiFi
                </label>
                <br>
                <label class="checkbox-inline col-md-3">
                  <input type="checkbox" id="inlineCheckbox1" name="amenities" value="Store"> Store
                </label>
                <label class="checkbox-inline col-md-3">
                  <input type="checkbox" id="inlineCheckbox2" name="amenities" value="Utilities"> Utilities
                </label>
                <label class="checkbox-inline col-md-3">
                  <input type="checkbox" id="inlineCheckbox3" name="amenities" value="Pool"> Pool
                </label>
                <br>
                <label class="checkbox-inline col-md-3">
                  <input type="checkbox" id="inlineCheckbox1" name="amenities" value="Laundry"> Laundry
                </label>
                <label class="checkbox-inline col-md-3">
                  <input type="checkbox" id="inlineCheckbox2" name="amenities" value="Pets"> Pets
                </label>
                <label class="checkbox-inline col-md-3">
                  <input type="checkbox" id="inlineCheckbox3" name="amenities" value="All Year"> All Year
                </label>
                <br>
                <p></p>
                <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back to Campgrounds List</a>
        </div>
    </div>
</div>


<% include ../partials/footer %>