.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.input-group-addon {
    width: auto;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.jumbologin {
    text-align: center;
    margin-left: 12%;
}

.jumbologin h1 {
    font-family: sans-serif;
}

.delete, .edit {
    text-decoration: underline;
    font-style: italic;
    color: blue;
    background: none;
}

.commentdate {
    font-style: italic;
}